/* Style for status colors */
b {
    text-transform: uppercase;
}

.status-approved {
    color: green;
}

.status-rejected {
    color: red;
}

.status-pending {
    color: orange;
}

button {
    cursor: pointer;
    border-radius: 5px;
    padding: 5px 10px;
    border: none;
}

#hodSection {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    margin-top: 30px;
}